{% extends "base.html" %}

{% block body %}

<form id="taskForm">
    <label for="title">Название задачи</label>
    <input type="text" id="task-title" name="task-title">
    <label for="description">Описание задачи</label>
    <input type="text" id="task-description" name="task-description">
    <button id="btnTaskForm">Добавить задачу</button>
</form>
<script>
    let taskForm = document.getElementById('taskForm');
    let post_url_tasks = "http://127.0.0.1:8000/tasks"
    taskForm.addEventListener('submit', function(event){
        let title = document.getElementById('task-title').value;
        let description = document.getElementById('task-description').value;
        const data = {
            "title": title,
            "description": description
        }
        fetch(post_url_tasks, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data) // <-- Преобразует JS обьект в JSON обьет
        })
    })
</script>

{% endblock %}