<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лэйдинг страницы агентства</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Агентство</h1>
        <p>Создаём цифровые решения для вашего бизнеса</p>
        <a href="#" class="btn">Перейти About</a>
    </div>

    <script src="{{ url_for('static', path='/script.js') }}"></script>
</body>
</html>