{% extends 'base.html'%}

<!-- Начала блока -->
{% block body %}
<div class="container">
    <div class="header-container">
        <h1>Список задач</h1>
        <button class="send-button" id="loadTasks">Показать</button>
    </div>
    <ul id="taskList">
        <!-- список задач будет генерироваться здесь -->
    </ul>
</div>

<div class="container">
    <div class="header-container">
        <h2>Создать задачу</h2>
    </div>
    <div class="input-container">
        <div>
            <label for="title">Title: </label>
            <input type="text" id="title">
            <label for="description">Description: </label>
            <input type="text" id="description">
            <button class="send-button" id="createTask">Создать</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="header-container">
        <h2>Удалить задачу</h2>
    </div>
    <div class="input-container">
        <div>
            <label for="title">ID: </label>
            <input type="text" id="task-id">
            <button class="send-button" id="deleteTask">Удалить</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="header-container">
        <h2>Изменить задачу</h2>
    </div>
    <div class="input-container">
        <div>
            <label for="change-task-id">ID: </label>
            <input type="text" id="change-task-id">
            <label for="change-title">Title: </label>
            <input type="text" id="change-title">
            <label for="change-description">Description: </label>
            <input type="text" id="change-description">
            <button class="send-button" id="changeTask">Изменить</button>
        </div>
    </div>
</div>

<script>

    document.getElementById('loadTasks').addEventListener('click', function () {
        fetch('http://127.0.0.1:8000/api/v1/tasks/list/')
            .then(response => response.json())
            .then(tasks => {
                const taskList = document.getElementById('taskList');
                taskList.innerHTML = '';
                for (const task of tasks) {
                    const li = document.createElement('li');
                    li.textContent = `(${task.id}) ${task.title} : ${task.description}`;
                    taskList.appendChild(li);
                }
            })
            .catch(error => console.error(error));
    });

    document.getElementById('createTask').addEventListener('click', function () {
        const title = document.getElementById('title').value;
        const description = document.getElementById('description').value;

        fetch('http://127.0.0.1:8000/api/v1/tasks/create/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                title: title,
                description: description
            })
        })
            .then(response => response.json())
            .then(task => {
                console.log(task);
                document.getElementById('title').value = '';
                document.getElementById('description').value = '';
                loadTask()
            })
            .catch(error => console.error(error));
    });

    document.getElementById('deleteTask').addEventListener('click', function () {
        const taskId = document.getElementById('task-id').value;

        fetch(`http://127.0.0.1:8000/api/v1/tasks/delete/${taskId}`, {
            method: 'DELETE',
        })
            .then(response => response.json())
            .then(result => {
                console.log(result);
                document.getElementById('task-id').value = ''
                loadTask()
            })
            .catch(error => console.error(error));
    });

    document.getElementById('changeTask').addEventListener('click', function () {
        const taskId = document.getElementById('change-task-id').value
        const title = document.getElementById('change-title').value;
        const description = document.getElementById('change-description').value;

        fetch(`http://127.0.0.1:8000/api/v1/tasks/update/${taskId}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                title: title,
                description: description
            })
        })
            .then(response => response.json())
            .then(task => {
                console.log(task);
                document.getElementById('change-task-id').value = '';
                document.getElementById('change-title').value = '';
                document.getElementById('change-description').value = '';
                loadTask()
            })
            .catch(error => console.error(error));
    });

    function loadTask() {
        fetch('http://127.0.0.1:8000/api/v1/tasks/list/')
            .then(response => response.json())
            .then(tasks => {
                const taskList = document.getElementById('taskList');
                taskList.innerHTML = '';
                for (const task of tasks) {
                    const li = document.createElement('li');
                    li.textContent = `(${task.id}) ${task.title} : ${task.description}`;
                    taskList.appendChild(li);
                }
            })
            .catch(error => console.error(error));
    }

</script>




{% endblock %}

<!-- document.getElementById('loadTasks').addEventListener('click', function () {
    fetch('http://127.0.0.1:8000/api/v1/tasks/list/')
        .then(response => response.json())
        .then(tasks => {
            const taskList = document.getElementById('taskList');
            taskList.innerHTML = ''; // clear previous tasks
            for (const task of tasks) {
                const li = document.createElement('li');
                li.textContent = `(${task.id}) ${task.title} : ${task.description}`;
                taskList.appendChild(li);
            }
        })
        .catch(error => console.error(error));
}); -->