<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Users</h1>
    <ul id="users-list">
        {% for user in users %}
            <li>{{ user.first_name }} {{ user.last_name }}</li>
        {% endfor %}
    </ul>
    <form action="/users/" method="post">
        <label for="first_name">First Name:</label><br>
        <input type="text" id="first_name" name="first_name"><br>
        <label for="last_name">Last Name:</label><br>
        <input type="text" id="last_name" name="last_name"><br>
        <input type="submit" value="Add User">
    </form>

</body>
</html>